h1 {
    font-size: 24px;
    color:blueviolet
}

h2 {
    font-size: 20px;
    color:rgb(0, 157, 255)
}

p {
    font-size: 16px;
    color:rgb(10, 42, 62)
    font-family: Verdana, sans-serif;
}

p::first-letter {
    font-weight: bold;
    color: rgb(70, 10, 84);
}

#dog {
    background-color: yellow;
    font-weight: bold;
}

img {
    max-width: 80%;
    height: auto;
    border: 8px solid rgb(0, 0, 0);
}

ul.navbar {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border: 6px solid rgb(6, 0, 0);
    background-color: rgb(178, 167, 231);
}

aside {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    margin-top: 20px;
}

footer {
    text-align: center;
    font-size: 14px;
    color: rgb(128, 128, 128);
    margin-top: 20px;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
}
